@import 'octicons-css/octicons.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminating the effects of vitepress */
a {
  text-decoration: none !important;
}

button,
input,
optgroup,
select,
textarea {
  border-width: 1px;
  border-style: solid;
}

.iw-alert-wrap {
  @apply iw-alert iw-alert-error absolute z-[10000] bottom-2 right-2 p-1 w-1/2 rounded-lg;
}

.iw-alert-wrap--success {
  @apply iw-alert-success;
}

.iw-alert-wrap--info {
  @apply iw-alert-info;
}

.iw-alert-wrap--warning {
  @apply iw-alert-warning;
}

.iw-alert-wrap--error {
  @apply iw-alert-error;
}

.iw-input:focus,
.iw-input:focus-within {
  outline-width: 0;
}
